In [7]:
import sys
sys.path.append("../src")

In [8]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib notebook

In [9]:
raw_file_path = "../data/raw_important_genes.csv"

In [10]:
df_raw_data = pd.read_csv(raw_file_path, sep=";")

In [11]:
df_raw_data.head()

,Unnamed: 0,DHT vs CTRL,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,P4 vs CTRL,Unnamed: 7
0,NaN,Up-Regulated,Down-Regulated,NaN,NaN,NaN,log2FoldChange,Gene
1,NaN,KLK3,ITIH2,NaN,NaN,NaN,SULT1C3,SCGB2A1
2,NaN,KLK2,LRP2,NaN,NaN,NaN,KLK3,CELSR1
3,NaN,SLC26A3,GRIK1,NaN,NaN,NaN,CXCL13,SCGB1D2
4,NaN,CUX2,GRIK3,NaN,NaN,NaN,KLK2,SCGB2A2

In [13]:
values_array = df_raw_data.values.reshape(df_raw_data.shape[0]*df_raw_data.shape[1])

In [14]:
df_values = pd.Series(values_array)

In [15]:
df_values.head()

0               NaN
1      Up-Regulated
2    Down-Regulated
3               NaN
4               NaN
dtype: object

In [16]:
df_cleaned_values = df_values[~df_values.isnull()]

In [17]:
df_cleaned_values = df_cleaned_values.drop([1,2,6,7])

In [18]:
df_cleaned_values = pd.DataFrame(df_cleaned_values, columns=['value'])

In [19]:
df_cleaned_values.head()

      value
9      KLK3
10    ITIH2
14  SULT1C3
15  SCGB2A1
17     KLK2

In [20]:
df_cleaned_values.to_csv("../data/important_genes.csv", index=False)

## Select relevant features

In [21]:
relevant_features = pd.read_csv("../data/important_genes.csv", sep=",")

In [22]:
relevant_features.head()

     value
0     KLK3
1    ITIH2
2  SULT1C3
3  SCGB2A1
4     KLK2

In [23]:
relevant_features_array = relevant_features.values.flatten()

In [24]:
relevant_features_array = np.append(relevant_features_array, ["label"])

In [25]:
df_data = pd.read_csv("../data/train.csv", sep=",")

In [26]:
df_data = df_data[relevant_features_array]

In [27]:
df_data.head()

,KLK3,ITIH2,SULT1C3,SCGB2A1,KLK2,LRP2,KLK3,CELSR1,SLC26A3,GRIK1,...,RAB3B,CLEC7A,ADCY2,SPHKAP,CNMD,SERHL2,HPGD,GLYATL1,FGFR4,label
0,3.984119,4.643010,3.984119,8.004603,3.984119,6.605385,3.984119,6.976595,4.742798,4.742798,...,4.643010,5.751396,5.366407,6.042517,4.366722,4.643010,3.984119,4.979502,4.366722,0
1,3.984119,3.984119,3.984119,7.454693,3.984119,7.620583,3.984119,7.746695,3.984119,4.907139,...,4.366282,6.164265,4.907139,6.837265,4.366282,4.741939,4.523022,4.366282,3.984119,0
2,3.984119,5.588960,3.984119,8.237920,4.816944,6.555290,3.984119,7.671801,4.816944,4.816944,...,5.146627,6.466886,6.638308,6.160291,3.984119,7.111343,3.984119,4.816944,5.588960,0
3,3.984119,5.285217,3.984119,8.749265,3.984119,8.702287,3.984119,8.191661,3.984119,6.560582,...,3.984119,6.115617,4.919178,6.189056,3.984119,4.650987,3.984119,3.984119,3.984119,0
4,3.984119,5.787031,3.984119,7.636661,3.984119,9.075697,3.984119,8.573623,4.968903,6.314672,...,3.984119,6.494848,4.559957,6.452012,3.984119,5.453445,4.793247,4.793247,4.559957,0

In [28]:
df_data.to_csv("../data/selected_train.csv", index=False)